

body{
  background-color:	#FF4500;
}


#wrapper{
    width:1450px;
    height:650px;
    background-color:	#FF4500;
    margin: auto;
}


#pa h1{
    text-align: inherit;
    color:white;
    background-color:#FA8F04;
    height:55px;
    width: 1450px;
}


#search{
   width: 800px;
   height: 55px;
   background-color:#FA8F04;
   float:right;
 }

 #search2{
    margin: 20px;
    width: 600px;
    height: 20px;
    background-color:white;
    float:right;
    bottom: 20px;
  }

#nav{
   width: 250px;
   float: left;
   height: 500px;
   background-color:#FA8F04;
 }

 #nav2 {
    width: 190px;
    height: 470px;
    background-color:#FBCD26;
    margin: auto;
    color:white;
  }

  #scroll{
     width: 20px;
     height: 500px;
     background-color:white;
     float: right;
   }



#content{
   float: left;
   width:1200px;
   height:500px;
   background-color:#FA8F04;
 }

 #content2 p{
    margin: left;
    width:400px;
    height:460px;
    background-color:#FBCD26;
    color:white;
  }

  .center  {
    position:absolute;
          top: 22px;
          left: 585px;
          z-index: 2;
  }

  .image1  {
    position:absolute;
          top: 114px;
          left: 795px;
          z-index: 2;
  }

  .image2  {
    position:absolute;
          top: 114px;
          left: 1165px;
          z-index: 2;
  }

  .image3  {
    position:absolute;
          top: 364px;
          left: 795px;
          z-index: 2;
  }

  .image4  {
    position:absolute;
          top: 364px;
          left: 1165px;
          z-index: 2;
  }


 #footer p{
     position: absolute;
     color:white;
     bottom: 35px;
     left: 695px;
 }
